<mat-card class="card">
  <img src="https://lh3.googleusercontent.com/3aoTlGO7SRvJYRUYiVkzWthlQVjgIcz82v6BX_cHS1opYAkaALDaWDYHakjn9q3mUx5zIwqe6MoobCGE3aipjTWy1NxCkoY5HRvQ5vVrTDWRkXGBzRki1zmnGsJOM3t9WyzxVDnMXrm02lYNY_Z55lOHqYSTWPlBDdCfcoNhndF_Nf8ejjIu2jc4lvkA_ocVTDXDYMUVLruGFb3db4J_0M-Q2Z6tSWAkPsqjk0OlEVsUSk7zNg3Ro-E2W0kL3ysq8ljLMWSdMyy3WKgCOryjnoeJUOK7tvPni4vHYhKt768agt_6yGp9QHN_TcLgta9m_nGH-IeREXJC_LTZsXCEkrfnpqV4xJdi6LGrj62Wbe-vTAWIHvK6xN5_m6srZH1T4102p2wt_0LFkfMSsddBLHE7TMUBk-wK5EeelCXxRgEiJWnqQ2am0dnQSdm6bystP1hoLQNUXzma3LbtF5OAdcvYnUHs_HOKsvST3JGg4QuTUy9-2Sq4VkYhjbegZnfX-ehyMyBXbOtcHnlQrhVB6WDVbgt8eTxtHhsYzIyz2a9DJu5T9ccnOJcx9Uyka8-DSThsBLSz7x-Bm2xFeAgnKQq_iRGhtfwoColOPuaYgzwt2Jc3neSvuvK97JwpPrmdMHiS9B1NHHRLj3kHLP8geu6Djf1-3qhNqrCjWcJfOboEieHYvCo=w919-h904-no"
    class="avatar-image">
  <h3 align="center">MICHAŁ JAWULSKI</h3>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus dicta at, sed, expedita, beatae tenetur
      vitae
      libero iste quam quo nobis impedit laborum? Nam fuga pariatur enim porro, magni quasi.</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button class="social-media-button" id="twitter-button">
      <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
    </button>
    <button mat-icon-button class="social-media-button" id="linkedin-button">
      <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
    </button>
    <button mat-icon-button class="social-media-button" id="github-button">
      <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
    </button>
  </mat-card-actions>
</mat-card>
