.content {
  margin-left: 100px;
  display: float;
  clear: both;
}

.avatar-image {
  max-width: 250px;
  border-radius: 50%;
  margin: 10px auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p {
  text-align: justify;
}

.social-media-button {
  color: #757575;
}

#twitter-button:hover {
  color: #1da1f2;
}

#linkedin-button:hover {
  color: #0077b5;
}

#github-button:hover {
  color: #000000;
}
