<div class="content">
  <mat-card class="card" id="projects-and-conferences-card">
    <img mat-card-image src="../../assets/tech-talk-ss.png" class="card-cover-image">
    <h3 align="center">PROJEKTY I KONFERENCJE</h3>
    <mat-card-content>
      <h4>TechTalk online</h4>
      <ul>
        <li><a href="#">4. Bezpieczeństwo aplikacji</a></li>
        <li><a href="#">3. Technologia na mundialu</a></li>
        <li><a href="#">2. Konferencje Google IO i MS Build 2018</a></li>
        <li><a href="#">1. Big Data/Afera Cambridge Analitycs</a></li>
      </ul>
      <h4>Konferencje</h4>
      <ul>
        <li><a href="#">28.10.2018 Google Devfest - Will you baby light my fire(base)?</a></li>
        <li><a href="#">23.08.2018 Angular Wroclaw - Will you baby light my fire(base)?</a></li>
        <li><a href="#">12.06.2018 TechTalk Poznań - Angular 6. Co nowego?</a></li>
        <li><a href="#">11.06.2018 TechTalk Wrocław - Angular 6. Co nowego?</a></li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
