<mat-card class="card" id="projects-and-conferences-card">
  <img
    mat-card-image
    src="../../assets/tech-talk-ss.png"
    class="card-cover-image"
  />
  <mat-card-content>
    <h4>TechTalk online</h4>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=sjIWjspHciM"
          >5. Jak zacząć karierę w IT</a
        >
      </li>
    </ul>
    <ul>
      <li><a href="#">4. Bezpieczeństwo aplikacji</a></li>
      <li>
        <a href="https://www.facebook.com/CapgeminiPl/videos/2517324918285092/"
          >3. Technologia na mundialu</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=kIpLRzFLO7E"
          >2. Konferencje Google IO i MS Build 2018</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=FYhMWyb-vLY"
          >1. Big Data/Afera Cambridge Analitycs</a
        >
      </li>
    </ul>
    <h4>Konferencje</h4>
    <ul>
      <li>28.10.2018 Google Devfest - Will you baby light my fire(base)?</li>
      <li>
        <a href="https://www.youtube.com/watch?v=olO9Nr0VyPA"
          >23.08.2018 Angular Wroclaw - Will you baby light my fire(base)?</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=uMp4myffimk"
          >12.06.2018 TechTalk Poznań - Angular 6. Co nowego?</a
        >
      </li>
      <li>11.06.2018 TechTalk Wrocław - Angular 6. Co nowego?</li>
    </ul>
    <h4>Artykuły na Medium</h4>
    <ul>
      <li>
        <a
          href="https://medium.com/devopslinks/configuring-travis-ci-for-angular-application-34afee1715f"
          >Configuring Travis CI for Angular application</a
        >
      </li>
      <li>
        <a
          href="https://medium.com/@mjawulski/will-you-baby-light-my-fire-base-ee76516d3f10"
          >Will you baby light my fire(base)?</a
        >
      </li>
    </ul>
  </mat-card-content>
</mat-card>
