<mat-card class="card">
  <mat-card-header>
    <h3 align="center">KONTAKT</h3>
  </mat-card-header>
  <mat-card-content>
    <p>Najszybciej złapiesz mnie przez e-mail: <a href="mailto:mjawulski[na]gmail.com">mjawulski gmail.com</a>.</p>
    <p>Dużo udzielam się też na Twitterze: <a href="http://www.twitter.com/mjawulski">@mjawulski</a>.</p>
    <p>Moje CV i
      szczegóły doświadczenia znajdziesz na
      <a href="https://www.linkedin.com/in/mjawulski/">linked-in</a>.</p>
    <p> Część projektów mam też na <a href="https://github.com/mjawulski">Github-ie</a>.</p>
    <strong>Nie czekaj! Napisz teraz!</strong>

  </mat-card-content>
</mat-card>
