<mat-toolbar class="no-background sticky" [class.shadow]="isScrolledDown">
  <span class="spacer"></span>
  <button mat-stroked-button class="menu-button" color="primary" (click)="scrollTo('about-me')">O mnie</button>
  <button mat-stroked-button class="menu-button" color="primary" (click)="scrollTo('projects')">Projekty</button>
  <button mat-stroked-button class="menu-button" color="primary" (click)="scrollTo('contact')">Kontakt</button>
  <a href="http://mjawulski.pl"><button mat-stroked-button class="menu-button" color="primary">Blog</button></a>
</mat-toolbar>
