/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #303f9f;
}

.accent {
  color: #ff99bc;
}

.card {
  max-width: 500px;
  margin: 20px;
}
